/* Paleta de colores */
:root {
    --red-orange: #fb2e1d;
    --dodger-blue: #2cb4fe;
    --japanese-laurel: #207a09;
    --supernova: #fecd00;
    --sunshade: #fe9227;
    --flesh: #fec29e;
    --buddha-gold: #c7a607;
    --venice-blue: #086296;
    --bottle-green: #072926;
}